<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="AutoPackageInstallAllPackagesPathXML" value="S:\Solutions\Odense\Intranet\Data\AutoPackageInstaler\xml\allPackages.xml" />
      <setting name="AutoPackageInstallPathToPackages" value="S:\Solutions\Odense\Intranet\Data\AutoPackageInstaler\Packages\" />
      <setting name="AutoPackageInstallEmailServer" value="smtp.cohaesio.net" />
      <setting name="AutoPackageInstallFromEmail" value="AutoPackageInstallation@odense.dk" />
      <setting name="AutoPackageInstallNotifyEmalAdr1" value="lrhan@odense.dk" />
      <setting name="AutoPackageInstallNotifyEmalAdr2" value="Lars.Radoor.Hansen@gmail.com" />
      <setting name="AutoPackageInstallNotifyEmalAdr3" value="" />
    </settings>
  </sitecore>
</configuration>



